In [4]:
import pandas as pd
uselog = pd.read_csv("trip_data.csv")
#uselog.head()
uselog_new = uselog[["age","people","money"]]
uselog_money = uselog_new.groupby(["age","people"]).agg(["mean"])["money"]
uselog_money = uselog_money.reset_index(drop=False)
uselog_moneyAge = uselog_money.groupby("age").agg("mean")
uselog_moneyAge = uselog_moneyAge.reset_index(drop=False)
uselog_moneyPeople = uselog_money.groupby("people").agg("mean")
uselog_moneyPeople = uselog_moneyPeople.reset_index(drop=False)
#print(uselog.head())
uselog_money
#print()
#print()

    age people          mean
0    20   カップル  12615.384615
1    20     仕事   7750.000000
2    20     友人   9111.111111
3    20     家族  13333.333333
4    30   カップル  16800.000000
5    30     一人  16285.714286
6    30     仕事  20000.000000
7    30     家族  12666.666667
8    40     一人  14000.000000
9    40     仕事  15750.000000
10   40     友人   6333.333333
11   40     家族  15000.000000
12   50     一人  26000.000000
13   50     仕事  17333.333333
14   50     友人  14000.000000
15   50     家族  14250.000000
16   60     友人  15000.000000
17   60     家族  13428.571429